*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    place-items: center;
 }
 .parent{
    display: flex;
    background-color: wheat;
 }
 .main1{
    width: 100px;
    height: 1400px;
 
 }
 .ct{
  justify-self: center;
 }
 .main11{
    width: 100px;
    height: 482px;
   
   gap: 24px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 24px;
 }
 .main21{
   width: 1220px;
    height: 87px;
    padding-top: 16px;
    padding-right: 32px;
    
    display: flex;
    justify-content: space-between;
   
   
 }
.main21{

}
.main212{


width: 340px;
height: 51px;
/* gap: 5px;
display: grid;
display: flex; */

 }
.main3{
    width: 900px;
    
height: 300px;
background-image: url('Mask Group.png');
background-position: center;
background-size: cover;
border-radius: 3%;

 }
 .banner{
    border-radius: 5%;
  
    width: 400px;
    height: 200px;
    top: 53px;
    left: 82px;
    position: relative;
    display: grid;
    gap: 24px;
    
 }
.hello{
width: 400px;

 }
.main31{
    display: flex;
    width: 1220px;
    height: 300px;
   
    margin-top: 30px;
    border-radius: 5%;
 }
 .burger{
    width: 300px;
    margin-top: 30px;
 }
.coupon{
    width: 300px;
    height: 90px;
    flex-wrap: wrap;
    margin-bottom: 90px;
}
.main311{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main4{
    width: 1000;
    
    height: 450px;
    margin-top: 30px;
    display: flex;
}
.main41{
    width: 60%;
    height: 450px;
   
}
.main42{
    width: 40%;
    height: 450px;
  
}
.main421{
    
    width: 100%;
    height: 15%;

}
.main421{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    height: 26px;
}
.main422{
    width: 100%;
    height: 40%;
 
    display: flex;
    
    gap: 29px;
}
.img1{
    width: 80px;
}
.main423{
    width: 100%;
    height: 45%;
    
    display: flex;
    gap: 30px;
}
.main424{
    width: 100%;
    height: 15%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mycard{
    width:85px ;
    margin-left: 12px;
    margin-top: 10px;
}
.vector{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 430px;
}
.main425{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.img3{
    width: 340px;
}
.but{
    width: 120px;
}
.main5{
    width:10000 ;
    height: 450px;
  
    margin-top: 30px;
    display: flex;
}
.main51{
    width: 60%;
    height: 450px;
    
}
.main512{
    width: 100%;
    height: 15%;
   
    justify-content: space-between;
    align-items: center;
    display: flex;

}
.img4{
    width: 240px;
}
.main513{
    width: 100%;
    
    height: 43%;
    display: flex;
    justify-content: space-between;
}
.img5{
    width: 240px;
}
.main514{
    width: 100%;
    
    height: 43%;
    display: flex;
    justify-content: space-between;

}
.img6{
    width: 240px;
    
}
.main52{
   
    width: 100%;

}
.main521{
    width: 100%;
    
    height: 15%;
}
.main520{
    margin: 0px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.img7{
    width: 100px;
    height: 200px;
    z-index: 2;
    justify-self: end;
    align-self: flex-end;
    
}