*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    place-items: center;
    margin: 40px;
}h1 {
    font-family: 'Pacifico', cursive;
}
form{
    border: solid;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
   text-align: center;
    align-items: center;
    gap: 5px;
}
.b1{
    background-color:#6d84b4 ;
   border-radius: 5px;
    color: white;
  padding: 5px;
}
.all{
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.b2{
    border: none;
}

.b3{
    border: none;
}
input{
    padding: 5px;
}
.b4{
    width: 180px;
    background-color:#6d84b4 ;
   border-radius: 5px;
    color: white;
  padding: 5px;
}
   
    
p{
    max-resolution: 5px;
}
.div1{
     border: solid;
     width: 3000px
     padding: 50px;
     height: 30px;
}
